---
import Layout from '@/layouts/Layout.astro';
import Frame from '@/components/Frame.astro';
---

<Layout title="mkan0141.dev">
  <div class="flex h-screen w-screen items-center justify-center">
    <div class="w-4/6 max-w-2xl">
      <Frame>
        <div class="columns flex flex-col items-center justify-center p-8">
          <div class="text-center">
            <div class="text-4xl text-slate-600">mkan0141</div>
            <div class="inline-block rounded-xl bg-orange-400 px-5 text-xs text-white">
              mikan oishi
            </div>
          </div>

          <div class="mt-4 w-40">
            <img class="rounded-full" src="/img/mkan0141.png" alt="mkan0141 icon" />
          </div>

          <div
            class="mt-4 border-t-2 border-dashed border-orange-400 pt-4 text-center text-sm sm:text-base"
          >
            どこかで働くWebエンジニア<br />
            芋けんぴが好きです
          </div>
        </div>
      </Frame>
    </div>
  </div>
</Layout>
